.waysideButton {
  width: 100%;
  border-radius: 15px !important;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
}

.showWaysideControllersButton {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
}

.showBottomPanelButton {
  position: absolute;
  bottom: 25px;
  left: 50%;
  z-index: 1;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonText {
  margin: 5px;
  margin-left: 10px;
  font-size: 1.5em;
}

.waysidePanelHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 32px;
}

.greenLineButton {
  width: 50%;
  border-radius: 15px !important;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
  background-color: rgba(49, 135, 133, 1);
  color: rgba(49, 135, 133, 1);
}

.redLineButton {
  width: 50%;
  border-radius: 15px !important;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
  background-color: #c44242;
}

/* Bottom Panel Styles */
.bottomPanel {
  /* margin-left: 14em; */
}

.bottomPanelHolder {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  height: 100%;
  padding: 24px 24px;
}

/* Upload PLC section styles*/
.uploadPLCSection {
  border-radius: 25px;
  border: 2px solid #efefef;
  margin: 15px;
  margin-top: 10px;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  flex-grow: 1;
}

.uploadPLCButton {
  width: 100%;
  border-radius: 15px !important;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
  margin-top: 5em;
}

.moveSwitchSection {
  border-radius: 25px;
  border: 2px solid #efefef;
  margin: 15px;
  margin-top: 10px;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  flex-grow: 1;
}

.moveSwitchButton {
  width: 100%;
  border-radius: 15px !important;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
  margin-top: 5em;
}

/* Data section styles */
.dataSection {
  border-radius: 25px;
  border: 2px solid #efefef;
  margin: 15px;
  margin-top: 10px;
  height: 100%;
  text-align: center;
  flex-grow: 3;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.switch1Style {
  position: absolute;
  bottom: 12.4em;
  left: 54.2%;
  z-index: 1;
}

.switch2Style {
  transform: rotate(90deg);
  position: absolute;
  bottom: 17.5em;
  left: 54%;
  z-index: 1;
}

.blockSelect {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.dataLeft {
  flex-grow: 1;
  text-align: left;
}

.dataRight {
  flex-grow: 1;
  text-align: left;
}

.dataName {
  display: flex;
  flex-direction: row;
  padding-left: 2em;
  margin-top: 1em;
  font-weight: bold;
  font-size: large;
}

.dataValue {
  padding-left: 1em;
  font-weight: 500;
}
